<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center mb-2">
        <NuxtLogo />
        <VuetifyLogo />
      </v-card>
      <v-card>
        <v-card-title class="headline">
          R0N1n WIP VUETIFY NUXT
        </v-card-title>
        <v-card-text>
          <p>
            Work in progress nuxt vuetify pwa project
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/inspire" align="center">
            Continue
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    articles: [],
  }),
  methods: {
    showNews(data) {
      this.articles = data;
    },
  },
  created() {
    fetch(
      "https://newsapi.org/v2/top-headlines?sources=cnn&apiKey=$9970d5dce7a245c8906849e592492062"
    )
      .then((res) => res.json())
      .then(this.showNews);
  },
};
</script>

<style></style>
