<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-expansion-panels dark popout>
        <v-expansion-panel>
          <v-expansion-panel-header>R0N1n WIP VUETIFY NUXT</v-expansion-panel-header>
          <v-expansion-panel-content>
            Ronin again on nuxt
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>WIP VUETIFY NUXT</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-text-field></v-text-field>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>

  </v-row>
</template>
